{% load static %}

<!-- When we put "normal" html tags around the link tag, it renders the link tag in the html body -->
<!-- But when we put the link tag alone at the start of the file, it gets rendered within the html head -->
<p>Hi</p>
<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<p>Hoho</p>

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
